<div class="block component-filter-operation">
    <select ng-model="form.component">
        <option ng-repeat="component in components">{{ component }}</option>
    </select>

    <div ng-repeat="comp in components">{{ comp }}</div>

    <label>{{ TYPE }}</label>

    <div ng-if="TYPE=='string'">
        <input type="text" ng-model="form.text">
    </div>

    <div ng-if="TYPE=='number'">
        <input type="number" ng-model="form.start" /> &lt;= {{ form.component }} &lt;= <input type="number" ng-model="form.end" />
    </div>

    <button ng-if="!!TYPE" ng-click="add()">Add operation</button>
</div>
