<div class="panel panel-default">
    <div class="panel-heading" ng-click="togglePanel()">
        <h3 class="panel-title">Export Data</h3>
    </div>
    <div id="collapse{{ $index }}" class="panel-collapse collapse" ng-class="{ in: expanded }">
        <div id="collapseExport" class="panel-collapse collapse in">
            <div class="panel-body">
                <button type="button" class="btn btn-default" ng-click="exportDataset()">Export</button>
                <a ng-if="success" class="btn btn-default" href="{{ dataHref }}" download="data.json">Download file</a>
            </div>
        </div>
    </div>
</div>



