    <button type="button" class="btn btn-primary btn-sm" ng-click="previewData()">Preview</button>
    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">close</button>
                    <h3 class="model-title">Preview</h3>
                </div>
                <div class="modal-body">
                 {{ preview }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

    </script>





