    <button type="button" class="btn btn-primary btn-sm" ng-click="previewData()">Preview</button>
    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">close</button>
                    <h3 class="model-title">Preview</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <th ng-repeat="component in components">
                                <span class="glyphicon glyphicon-remove pull-left" ng-click="deleteComponent(component);" style="color: lightgrey;"></span>
                                {{component.key}} :{{component.type}}
                            </th>
                        </tr>
                        <tr ng-repeat="item in dataset.slice(0, 10) track by $index">
                            <td ng-repeat="component in components">{{ formatValue( item[component.key], component.key) }}</td>
                            <td ng-if="dataType==='string'">{{ item }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

    </script>





