<div class="panel panel-default">
    <div class="panel-heading" ng-click="togglePanel()">
        <span class="glyphicon glyphicon-remove pull-right" ng-click="deleteOperation()" style="color: lightgrey;"></span>
        <h3 class="panel-title">
            <span ng-if="!expanded" class="glyphicon glyphicon-chevron-down pull-left" style="color: lightgrey;"></span>
            <span ng-if="expanded" class="glyphicon glyphicon-chevron-up pull-left" style="color: lightgrey;"></span>
            Filter Operation
            <select ng-model="operation.filter.form.component">
                <option ng-repeat="component in components" ng-attr>{{ component }}</option>
            </select>
            <label>{{ operation.filter.componentType }}</label>
        </h3>
    </div>
    <div id="collapse{{ $index }}" class="panel-collapse collapse" ng-class="{ in: expanded }">
        <div class="panel-body">
            <div ng-if="operation.filter.componentType==='string'">
                <select class="form-control" ng-model="operation.filter.form.text" multiple>
                    <option ng-repeat="comp in componentValues track by $index">{{ comp }}</option>
                </select>
            </div>
            <div ng-if="operation.filter.componentType==='number'">
                <input type="number" ng-model="operation.filter.form.start" />
                &lt;= {{ form.component }} &lt;=
                <input type="number" ng-model="operation.filter.form.end" />
            </div>
        </div>
    </div>
</div>


