<div class="panel panel-default">
    <div class="panel-heading" ng-click="togglePanel()">
        <h4 class="panel-title">
            <span ng-if="!expanded" class="glyphicon glyphicon-chevron-down pull-left" style="color: lightgrey;"></span>
            <span ng-if="expanded" class="glyphicon glyphicon-chevron-up pull-left" style="color: lightgrey;"></span>
            <span class="glyphicon glyphicon-remove pull-right" ng-click="deleteOperation()" style="color: lightgrey;"></span>
            Code Operation {{ operation.name }}
            <select ng-model="operation.type"><option selected="selected">map</option><option>filter</option></select>
            <!--Type: {{ operation.type }}-->
        </h4>
    </div>
    <div id="collapse{{ $index }}" class="panel-collapse collapse" ng-class="{ in: expanded }">
        <div ng-click="view.edit=1" class="panel-body">
            <h4>{{ operation.f }}</h4>
            <div ng-if="view.edit!==1">
                <div>{{ operation.code }}</div>
            </div>
            <div ng-if="view.edit===1">
                <textarea autofocus ng-model="editor.code"></textarea>
                <button type="button" class="btn btn-default btn-sm" ng-click="runCode()">Submit Edit</button>
            </div>

            <div>{{ operation.error }}</div>
        </div>
    </div>
</div>

<style type="text/css">
    textarea { border: none;
                width: 200px;}
</style>
